@font-face {
    font-family: hira-w3;
    src: url("../fonts/hiragino-kaku-W3.otf") format("opentype");
}
@font-face {
    font-family: hira-w6;
    src: url("../fonts/hiragino-kaku-W6.otf") format("opentype");
}
@mixin button-color($color, $bg-color, $color-text) {
    border: 1px solid $color;
    background-color: $bg-color !important;
    color: $color-text !important;
}
body {
    font-size: 14px !important;
    font-family: hira-w3 !important;
    color: $color-black !important;
}
.container-custom {
    padding: 0 20px;
    margin: auto;
    width: 100%;
    @media (min-width: 1240px) {
        max-width: 1240px;
    }
}
.color {
    &-red {
        color: $color-red !important;
    }
    &-green {
        color: #87C87F !important;
    }
}
.mb {
    &-20 {
        margin-bottom: 20px !important;
    }
    &-25 {
        margin-bottom: 25px !important;
    }
    &-30 {
        margin-bottom: 30px !important;
    }
}
.fs {
    &-12 {
        font-size: 12px !important;
    }
    &-14 {
        font-size: 14px !important;
    }
    &-16 {
        font-size: 16px !important;
    }
    &-17 {
        font-size: 17px !important;
    }
    &-18 {
        font-size: 18px !important;
    }
    &-20 {
        font-size: 20px !important;
    }
    &-24 {
        font-size: 24px !important;
    }
}
.font-family {
    &-w3 {
        font-family: hira-w3 !important;
    }
    &-w6 {
        font-family: hira-w6 !important;
    }
}
.row-custom {
    margin-right: -5px !important;
    margin-left: -5px !important;
}
.col-custom {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
//title
.title {
    &-large {
        font-size: 20px;
        font-family: hira-w6;
    }
    &-medium {
        font-size: 18px !important;
        font-family: hira-w3;
    }
    .main_icon {
        font-size: 18px;
    }
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.overflow-hidden {
    overflow: hidden !important;
}
//button
.btn {
    &-custom {
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        font-family: hira-w6;
        text-align: center;
        transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
        &.md {
            min-width: 200px;
        }
        &-primary {
            @include button-color(#226DCB, #226DCB, #fff);
            &:hover {
                @include button-color(#5E9AE5, #5E9AE5, #fff);
            }
            &:active, &:focus {
                outline: 0;
                @include button-color(#19549F, #19549F, #fff);
            }
        }
        &-warning {
            @include button-color(#F79700, #F79700, #fff);
            &:hover {
                @include button-color(#F8BB5B, #F8BB5B, #fff);
            }
            &:active, &:focus {
                outline: 0;
                @include button-color(#C47700, #C47700, #fff);
            }
        }
        &-danger {
            @include button-color(#DF6B6D, #DF6B6D, #fff);
            &:hover {
                @include button-color(#de7d7f, #de7d7f, #fff);
            }
            &:active, &:focus {
                outline: 0;
                @include button-color(#d25b5d, #d25b5d, #fff);
            }
        }
        &-outlined {
            font-size: 14px;
            font-family: hira-w3;
            font-weight: 500;
            @include button-color(#226DCB, #fff, #226DCB);
            &:hover {
                @include button-color(#226DCB, #B9DCFF, #346EC5);
            }
            &:active, &:focus {
                outline: 0;
                @include button-color(#226DCB, #B3C9E8, #346EC5);
            }
        }
        &-disabled {
            @include button-color(#B1B4B9, #B1B4B9, #fff);
            &:hover {
                @include button-color(#CCCFD5, #CCCFD5, #fff);
            }
            &:active, &:focus {
                outline: 0;
                @include button-color(#8E9196, #8E9196, #fff);
            }
        }
        &-large {
            font-size: 18px !important;
            padding: 8px 15px;
            .main_icon {
                font-size: 18px;
            }
        }
        &-medium {
            font-size: 17px !important;
            padding: 9px 15px;
        }
    }
}
.icon-drag {
    width: 22px;
    height: 10px;
    position: relative;
    display: table;
    cursor: pointer;
    margin: -10px auto 10px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -3px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        box-shadow: 0 4px 0 $color-border, 0 12px 0 $color-border, 0 20px 0 $color-border;
        transform: rotate(-90deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 7px;
        left: -3px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        box-shadow: 0 4px 0 $color-border, 0 12px 0 $color-border, 0 20px 0 $color-border;
        transform: rotate(-90deg);
    }
}
//card
.card {
    &-custom {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
        padding: 30px;
        background-color: $color-white;
        &-w {
            width: calc(100% - 70px);
        }
        &_footer {
            padding-top: 20px;
            border-top: 1px solid $color-border;
            label {
                font-size: 16px;
                color: #707171;
            }
        }
        &_action {
            order: 2;
            margin-left: 20px;
            width: 50px;
            height: 100%;
            border: 1px solid $color-border;
            border-radius: 5px;
            background-color: $color-white;
            overflow: hidden;
            .btn-custom {
                background-color: $color-white;
                border: 0;
                border-radius: 0;
                width: 100%;
                color: #333333;
                &:first-child {
                    border-bottom: 1px solid $color-border;
                }
                i {
                    font-size: 20px;
                }
                &:hover {
                    opacity: 0.75;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        &_list {
            list-style: none;
            counter-reset: number;
            padding-left: 30px;
            li {
                counter-increment: number;
                position: relative;
                &::before {
                    content: counter(number) ". ";
                    position: absolute;
                    top: 12px;
                    left: -28px;
                    font-size: 16px;
                }
            }
        }
        .form-check {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
    &-auth {
        padding: 30px;
        width: 100%;
        @media (min-width: $size-s) {
            width: 410px;
            padding: 50px;
            margin: auto;
            position: fixed;
            top: calc(50% - 50px);
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.large {
            @media (min-width: $size-s) {
                width: 530px;
                padding: 50px;
            }
        }
        &_title {
            font-size: 24px;
            font-family: hira-w6;
            margin-bottom: 42px;
        }
        &_link {
            color: $color-main;
            text-decoration: underline;
            margin: 3px 0 28px;
            display: inline-block;
            &:hover {
                opacity: 0.8;
            }
        }
        .form {
            &-custom {
                .form-group {
                    margin-bottom: 22px;
                }
                .form-control {
                    &::placeholder {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &-contact {
        @media (min-width: $size-s) {
            padding: 60px;
            width: 495px;
        }
        &_block {
            border-radius: 5px;
            border: 2px solid $color-border;
            height: 56px;
            text-align: center;
            display: block;
            text-align: center;
            line-height: 56px;
            font-size: 23px;
            color: $color-main;
            font-family: hira-w6;
            margin-bottom: 20px;
            i {
                font-size: 20px;
            }
        }
        &_time {
            font-family: hira-w6;
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    &-table {
        .table {
            tr td,
            tr th {
                border-color: $color-border;
                padding: 20px;
                min-width: 150px;
            }
            tr th {
                border-bottom-width: 1px;
                background-color: #DFE3E8;
                font-family: hira-w6;
                padding: 12px 20px;
                vertical-align: middle;
                @media (min-width: $size-xl) {
                    min-width: 290px;
                    width: 290px;
                }
            }
            tr {
                &.card-table_bg {
                    td {
                        background-color: #DFE3E8;
                        padding: 12px 20px;
                    }
                }
            }
        }
        &_label {
            border-radius: 999px;
            font-size: 10px;
            padding: 1px 8px;
            color: $color-white;
            background-color: $color-red;
        }
        .form-control {
            &::placeholder {
                font-size: 14px !important;
            }
        }
    }
}
.main {
    min-height: calc(100vh - 142px);
    &-bg {
        background-color: $color-bg;
    }
    &-auth {
        min-height: calc(100vh - 72px);
    }
    &_link {
        color: $color-main;
        text-decoration: underline;
    }
    &_content {
        padding: 48px 40px;
    }
    &_icon {
        color: $color-main;
        font-size: 16px;
        margin-right: 6px;
        &.large {
            font-size: 22px;
        }
    }
    &_switch {
        width: 70px;
        height: 26px;
        position: relative;
        appearance: none;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #fff;
            border: 1px solid $color-border;
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            background-color: #fff;
            border: 1px solid $color-border;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            transform: translateX(0);
            transition: transform 0.3s;
        }
        &:checked {
            &::before {
                background-color: $color-main;
                border-color: $color-main;
            }
            &::after {
                border-color: $color-white;
                transform: translateX(44px);
            }
        }
    }
    &_table {
        .pagination {
            .page {
                &-link {
                    background-color: transparent;
                    border-color: transparent;
                    color: $color-black;
                    padding: 0 7px;
                }
                &-item {
                    &:first-child,
                    &:last-child {
                        .page-link {
                            font-size: 0;
                            position: relative;
                            margin-top: 3px;
                            width: 16px;
                            height: 16px;
                            cursor: pointer;
                            &::before {
                                content: "";
                                width: 8px;
                                height: 8px;
                                border-top: 1px solid $color-black;
                                border-right: 1px solid $color-black;
                                position: absolute;
                                top: 4px;
                                right: 1px;
                                transform: rotate(-134deg);
                            }
                        }
                    }
                    &:last-child {
                        .page-link {
                            &::before {
                                transform: rotate(45deg);
                            }
                        }
                    }
                    &.active {
                        .page-link {
                            background-color: transparent;
                            border-color: transparent;
                            color: $color-main;
                            font-family: hira-w6;
                        }
                    }
                    &.disabled {
                        .page-link {
                            background-color: transparent;
                            border-color: transparent;
                            &::before {
                                content: "";
                                border-top: 1px solid $color-border;
                                border-right: 1px solid $color-border;
                            }
                        }
                    }
                }
            }
        }
        .table {
            thead th,
            tr td {
                border-color: $color-border;
                min-width: 150px;
                padding: 12px;
                vertical-align: middle;
                &.large {
                    min-width: 300px;
                }
                &.text-overflow {
                    max-width: 300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            thead th {
                border-bottom-width: 1px;
                background-color: #DFE3E8;
                font-family: hira-w6;
                border-top: 0;
                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
            tr:nth-child(odd) td {
                background-color: $color-white;
                .main_table_action {
                    background-color: $color-white;
                }
            }
            tr:nth-child(even) td {
                background-color: $color-light-blue;
                .main_table_action {
                    background-color: $color-light-blue;
                }
            }
            tr td {
                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
            tr:last-child {
                td {
                    border-bottom: 0;
                }
            }
            &-responsive {
                border: 1px solid $color-border;
            }
            &-custom {
                .main_table_action {
                    &:nth-child(2) {
                        left: 100px;
                    }
                    &:nth-child(3) {
                        left: 170px;
                    }
                }
                &-3 {
                    .main_table_action {
                        &:nth-child(2) {
                            left: 70px;
                        }
                        &:nth-child(3) {
                            left: 140px;
                        }
                    }
                }
                &-responsive {
                    .table-bordered {
                        border: 1px solid #B0B4B9;
                    }
                    thead {
                        display: block;
                        position: relative;
                        tr th {
                            width: 20%;
                            &:first-child {
                                width: 40%;
                            }
                            @media (max-width: 992px) {
                                min-width: auto;
                            }
                        }

                    }
                    tbody {
                        max-height: calc(100vh - 400px);
                        overflow-y: auto;
                        display: block;
                        tr {
                            td {
                                width: 20%;
                                &:first-child {
                                    width: 40%;
                                }
                                @media (max-width: 992px) {
                                    min-width: auto;
                                }
                            }
                            &:first-child {
                                td {
                                    border-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &_action {
            width: 70px;
            min-width: 70px !important;
            position: sticky;
            left: 0;
            background-color: #DFE3E8;
            z-index: 10;
            &.large {
                min-width: 100px !important;
            }
            &::after {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: -1px;
                background-color: $color-border;
            }
            &:nth-child(2) {
                left: 70px;
            }
            .btn-custom {
                margin: auto;
                font-size: 12px;
                padding: 4px 15px;
                font-family: hira-w3;
            }
        }
    }
    &_card {
        .icon-drag {
            position: absolute;
            top: 30px;
            left: calc(50% - 11px);
        }
        &_btn {
            width: 100%;
            color: $color-black;
            text-align: left;
            border: 0;
            background-color: transparent;
            &:focus {
                outline: none;
            }
        }
        .main_card_btn {
            &.first {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-top: 46px;
            }
            &.last {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    .box-items-answer {
        position: relative;
    }
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-main;
    margin: 0 6px;
    transform: scale(1);
}
.dot1 {
    animation: line-grow 0.5s ease alternate infinite;
}

.dot2 {
    animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.dot3 {
    animation: line-grow 0.5s 0.4s ease alternate infinite;
}
  @keyframes line-grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
.scroll-cus {
    position: relative;
    border-right: 0 !important;
    &::after {
        content: '';
        width: 18px;
        height: 1px;
        background-color: $color-main;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    thead {
        border-right: 1px solid #B0B4B9;
        &::after {
            content: '';
            width: 18px;
            height: 1px;
            background-color: $color-main;
            position: absolute;
            bottom: 0;
            right: -1px;
        }
        tr th {
            &:last-child {
                @media (min-width: 992px) {
                    min-width: 166.5px;
                }
            }
        }
    }
    tbody {
        border-right: 1px solid $color-main;
        tr {
            td {
                &:last-child {
                    border-right: 1px solid $color-main !important;
                }
            }
        }
    }
}

.box-body-radio .icon-drag.move-drag-answer, .box-body-checkbox .icon-drag.move-drag-answer {
    left: 10px;
    top: calc(50% - 19px);
    width: 18px;
    height: 24px;
    margin: 0;
}

.form-answers .icon-drag.move-drag-answer:before {
    top: 0;
    left: 0;
    transform: none;
}

.form-answers .icon-drag.move-drag-answer:after {
    top: 0;
    left: 6px;
    transform: none;
}

.text-answer-error {
    left: 49%;
    position: absolute;
    top: 12px;
}

#box-form-preview, a#back-create {
    display: none;
}

.bootstrap-select.border-error .dropdown-toggle {
    border-color: #DE6B6D !important;
}

.style-scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border: 3px solid #fff;
}

.style-scroll::-webkit-scrollbar {
    width: 16px;
    background-color: #fff;
}

.style-scroll::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border: 3px solid #fff;
}
button.download-csv a {
    color: #226DCB !important;
}

.style-scroll tbody::-webkit-scrollbar-track
{
    background-color: #fff;
    border: 3px solid #fff;
}

.style-scroll tbody::-webkit-scrollbar
{
    width: 16px;
    background-color: #fff;
}

.style-scroll tbody::-webkit-scrollbar-thumb
{
    background-color: #C4C4C4;
    border: 3px solid #fff;
}

.name-file_csv {
    text-decoration: underline;
}

.show-preview_csv {
    margin: 0 10px 0 20px;
    font: normal normal normal 14px/24px Hiragino Kaku Gothic ProN;
    color: #333333;
    font-weight: 600;
}

.copy-form-question {
    border: 1px solid #346EC5;
}

.delete-form-question {
    border: 1px solid #2F75CE;
}

.copy-form-question .main_icon {
    color: #346EC5 !important;
}

.delete-form-question .main_icon {
    color: #2F75CE !important;
}

.main_switch:checked::before {
    background-color: #226DCC;
}

a.disable {
    pointer-events: none;
    cursor: default;
}
