.border-error.form-control {
    border: 1px solid #DE6B6D !important;
}

.text-error {
    font: normal normal normal 12px/20px Hiragino Kaku Gothic ProN;
    size: 12px;
    color: #DE6B6D;
}

.th-header .form-text {
    position: inherit !important;
    margin-top: -2px
}

.border-error.form-check-input::before {
    border: 1px solid #DF6B6D !important;
}
