.form {
    &-custom {
        .form-control {
            border: 1px solid $color-border;
            border-radius: 5px;
            //height: 45px !important;
            line-height: 45px;
            padding: 0 10px !important;
            color: $color-black !important;
            font-size: 14px;
            &::placeholder {
                font-size: 16px;
                color: #B0B4B9;
            }
            &:focus {
                box-shadow: none;
                border-color: $color-main !important;
                &::placeholder {
                    color: #fff;
                }
                & ~ i {
                    color: $color-main;
                }
            }
            &.large {
                height: 55px !important;
                line-height: 55px;
                font-size: 18px;
                &::placeholder {
                    font-size: 18px;
                }
            }
            &.pl-small {
                &::placeholder {
                    font-size: 12px;
                }
            }
            &[type="password"] {
                font: message-box;
                font-size: 22px;
                line-height: 45px;
            }
        }
        .form-group {
            margin-bottom: 18px;
            position: relative;
        }
        .form-text {
            font-size: 12px;
            position: absolute;
            top: -20px;
            left: 0;
            margin: 0;
        }
        .form-check {
            &-input {
                position: relative;
                -webkit-appearance: none;
                -moz-appearance: none;
                &[type="checkbox"] {
                    &::before {
                        border-radius: 3px;
                    }
                }
                &[type="checkbox"] {
                    &::after {
                        width: 10px;
                        height: 5px;
                        border-top: 2px solid $color-main;
                        border-right: 2px solid $color-main;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: rotate(134deg);
                    }
                }
                &[type="radio"] {
                    &::after {
                        width: 10px;
                        height: 10px;
                        background-color: $color-main;
                        border-radius: 999px;
                        position: absolute;
                        top: 5px;
                        left: 3px;
                    }
                }
                &::before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    border-radius: 999px;
                    border: 1px solid $color-border;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    background-color: $color-white;
                }

                &:checked {
                    &::after {
                        content: "";
                    }
                }
                &.large {
                    &::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        top: -15px;
                    }
                    &::after {
                        width: 14px;
                        height: 14px;
                        top: -12px;
                        left: 3px;
                    }
                    &[type="checkbox"] {
                        &::after {
                            width: 12px;
                            height: 7px;
                            top: -10px;
                            left: 4px;
                        }
                    }
                }
            }
            &-label {
                padding-left: 25px;
                font-size: 16px;
            }
        }
        textarea.form-control {
            line-height: 32px;
            height: 81px;
        }
        &_search {
            .form-control {
                width: calc(100% - 220px);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding-left: 28px !important;
            }
            .btn-custom {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                width: 220px;
                text-align: center;
            }
            .fa-search {
                position: absolute;
                top: 16px;
                left: 10px;
                color: #B1B4B9;
            }
        }
        &_date {
            width: 140px !important;
            position: relative;
            padding-right: 35px;
            border-radius: 5px !important;
            border: 1px solid $color-border;
            .form-control {
                border: 0 !important;
                border-radius: 5px !important;
                padding-right: 0 !important;
            }
            .bootstrap-datetimepicker-widget {
                padding: 5px 20px 20px !important;
                width: 300px !important;
                border-radius: 5px;
                border: 1px solid $color-border;
                .table-condensed {
                    thead tr:first-child {
                        font-size: 18px;
                        font-family: hira-w6;
                        border-bottom: 1px solid $color-border;
                        position: relative;
                        th {
                            padding: 10px;
                            &:hover {
                                background-color: transparent;
                            }
                            &.prev,
                            &.next {
                                position: relative;
                                &:hover {
                                    &::after {
                                        background-color: #DFE3E8;
                                    }
                                }
                                &::before {
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    border-top: 1px solid $color-border;
                                    border-right: 1px solid $color-border;
                                    position: absolute;
                                    top: 17px;
                                    right: 11px;
                                    transform: rotate(-134deg);
                                    z-index: 1;
                                }
                                &::after {
                                    content: "";
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 5px;
                                    border: 1px solid $color-border;
                                    position: absolute;
                                    top: calc(50% - 12px);
                                    left: 10px;
                                    clip: auto;
                                }
                            }
                            &.next {
                                &::before {
                                    right: 23px;
                                    transform: rotate(45deg);
                                }
                                &::after {
                                    left: 0;
                                }
                            }
                        }
                    }
                    tr th.dow {
                        padding: 20px 10px 10px;
                        font-size: 13px;
                    }
                    tr td {
                        padding: 8px;
                        font-size: 12px !important;
                        border: 1px solid $color-border;
                        &.active {
                            background-color: #B9DCFF;
                            color: $color-black;
                            border-radius: 0;
                            text-shadow: none;
                            &::before {
                                content: none;
                            }
                        }
                    }
                }
            }
            .input-group-addon {
                position: absolute;
                top: calc(50% - 12px);
                right: 8px;
                width: 24px;
                height: 24px;
                &:hover {
                    background: #B9DCFF;
                }
                &::before {
                    content: "";
                    width: 9px;
                    height: 9px;
                    border-top: 2px solid #226DCB;
                    border-right: 2px solid #226DCB;
                    position: absolute;
                    top: 6px;
                    right: 8px;
                    transform: rotate(134deg);
                    border-left: 0;
                    z-index: 1;
                    cursor: pointer;
                }
            }
        }
        &_dropdown {
            position: relative;
            padding-right: 25px;
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-top: 2px solid $color-main;
                border-right: 2px solid $color-main;
                position: absolute;
                top: calc(50% - 5px);
                right: 10px;
                transform: rotate(134deg);
            }
        }
        .icon {
            font-size: 26px;
            padding: 0 8px;
            color: #5b5b5c;
        }
        &_select {
            &.multi {
                .bootstrap-select {
                    width: 220px !important;
                    .dropdown {
                        &-toggle {
                            font-size: 14px;
                        }
                        &-item {
                            padding: 5px 15px 5px 42px !important;
                            font-size: 14px;
                            &::before {
                                content: "";
                                width: 20px;
                                height: 20px;
                                border: 1px solid $color-border;
                                border-radius: 3px;
                                position: absolute;
                                top: 7px;
                                left: 15px;
                            }
                        }
                    }
                }
                &.sm {
                    .bootstrap-select {
                        width: 100% !important;
                    }
                }
            }
            .bootstrap-select {
                width: 100% !important;
                &.show>.btn-light.dropdown-toggle,
                .btn-light:not(:disabled):not(.disabled).active,
                .btn-light:not(:disabled):not(.disabled):active {
                    background-color: transparent !important;
                    border-color: $color-main !important;
                }
                &.show>.btn-light.dropdown-toggle {
                    &::after {
                        top: calc(50% - 1px);
                        transform: rotate(-45deg);
                    }
                }
                .dropdown {
                    &-toggle {
                        background-color: transparent;
                        border-color: $color-border;
                        height: 45px;
                        line-height: 45px;
                        padding: 0 40px 0 10px;
                        border-radius: 5px;
                        font-size: 16px;
                        &:hover,
                        &:active {
                            background-color: transparent !important;
                            border-color: $color-border !important;
                            &::before {
                                content: "";
                            }
                        }
                        &:focus {
                            box-shadow: none;
                            outline: 0 !important;
                        }
                        &::before {
                            width: 26px;
                            height: 26px;
                            position: absolute;
                            top: calc(50% - 13px);
                            right: 10px;
                            background: #B9DCFF;
                        }
                        &::after {
                            content: "";
                            width: 9px;
                            height: 9px;
                            border-top: 2px solid $color-main;
                            border-right: 2px solid $color-main;
                            position: absolute;
                            top: calc(50% - 5px);
                            right: 19px;
                            transform: rotate(134deg);
                            border-left: 0;
                            z-index: 1;
                        }
                    }
                    &-item {
                        padding: 5px 15px !important;
                        font-size: 16px;
                        &:hover, &:active, &:focus {
                            background-color: #E0E3E8;
                            color: $color-black;
                        }
                        &.active {
                            background-color: transparent;
                            color: $color-black;
                        }
                        .check-mark {
                            right: calc(100% - 28px) !important;
                            top: 9px !important;
                            &::after {
                                content: "";
                                width: 7px;
                                height: 12px;
                                border-style: solid;
                                border-width: 0 2px 2px 0;
                                border-color: $color-main;
                            }
                        }
                    }
                    &-menu {
                        margin-top: 6px;
                        border-radius: 5px;
                        border: 1px solid $color-border;
                        padding: 5px 0;
                        .dropdown-header {
                            padding: 12px 15px 5px 15px;
                            color: $color-black;
                        }
                        .dropdown-divider {
                            margin-bottom: 0;
                            border-top: 1px solid $color-border;
                        }
                    }
                }
                .bs-searchbox {
                    padding: 0;
                    .form-control {
                        border: 0;
                        padding: 10px 15px !important;
                        border-bottom: 1px solid $color-border;
                        border-radius: 0;
                        &::placeholder {
                            font-size: 14px;
                        }
                        &:focus {
                            border-color: #B0B4B9 !important;
                        }
                    }
                }
                .bs-actionsbox {
                    padding: 10px 15px;
                    border-bottom: 1px solid $color-border;
                }
                .bs-select-all,
                .bs-deselect-all {
                    background-color: transparent;
                    border: 0;
                    min-width: auto;
                    width: auto;
                    padding: 0;
                    padding-left: 27px;
                    position: relative;
                    &::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        border: 1px solid $color-border;
                        border-radius: 3px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .bs-deselect-all {
                    margin-left: 0 !important;
                    display: none;
                    &::after {
                        content: "";
                        width: 7px;
                        height: 12px;
                        border-style: solid;
                        border-width: 0 2px 2px 0;
                        border-color: $color-main;
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        transform: rotate(45deg);
                    }
                }
            }
            &.sm {
                .filter-option-inner-inner {
                    font-size: 14px !important;
                }
                .dropdown-item {
                    font-size: 14px;
                }
                .dropdown-menu {
                    padding-bottom: 10px;
                }
            }
        }
        &_upload {
            &_content {
                border: 2px dashed $color-border;
                position: relative;
                height: 260px;
                border-radius: 5px;
                &::after {
                    content: '';
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    border: 1px solid #fff;
                    pointer-events: none;
                    border-radius: 5px;
                }
            }
            &_position {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &_label {
                background-color: #EFEFEF;
                border-radius: 4px;
                font-size: 12px;
                padding: 6px 12px;
            }
            &_item {
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                padding: 14px;
                color: $color-main;
                margin-bottom: 20px;
                background-color: $color-white;
                text-decoration: underline;
                cursor: pointer;
                position: relative;
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 100%;
                    border-left: 1px solid $color-border;
                    opacity: 1;
                    z-index: 1;
                    &::before {
                        content: "";
                        width: 25px;
                        height: 3px;
                        background-color: #B1B4B9;
                        position: absolute;
                        top: 24px;
                        left: 12px;
                        transform: rotate(45deg);
                    }
                    &::after {
                        content: "";
                        width: 25px;
                        height: 3px;
                        background-color: #B1B4B9;
                        position: absolute;
                        top: 24px;
                        right: 12px;
                        transform: rotate(-45deg);
                    }
                }
            }
            &_list {
                .form-custom_select {
                    .dropdown-toggle {
                        background-color: #fff;
                        font-family: 'hira-w3';
                        &:hover,
                        &:active {
                            background-color: #fff !important;
                        }
                    }
                    .dropdown-item {
                        font-family: 'hira-w3';
                    }
                }
            }
        }
    }
}
