//header
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 3px 6px #00000029;
    &_content {
        background-color: $color-main;
        height: 72px;
        line-height: 72px;
    }
    &-admin {
        box-shadow: none;
        .nav {
            border-bottom: 1px solid $color-border;
        }
    }
}
//navbar
.nav {
    background-color: $color-white;
    &_list {
        margin: 0;
        padding: 0;
    }
    &_item {
        list-style: none;
    }
    &_link {
        padding: 22px 20px 26px 20px;
        display: inline-block;
        border-right: 1px solid $color-border;
        color: $color-black;
        font-size: 14px;
        position: relative;
        transition: background-color 0.3s ease-in-out;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $color-white;
            transition: background-color 0.3s ease-in-out;
        }
        &:hover {
            text-decoration: none;
            background-color: #E0E3E8;
            color: $color-black;
            &::before {
                content: "";
                background-color: #E0E3E8;
            }
        }
        &.active {
            font-weight: 600;
            &::before {
                content: "";
                background-color: $color-main;
            }
        }
    }
    .dropdown {
        margin-left: 30px;
        border-left: 1px solid $color-border;
        width: 285px;
        height: 69px;
        display: table;
        &_icon {
            width: 26px;
            height: 26px;
            position: absolute;
            top: calc(50% - 13px);
            right: 5px;
            border: 0;
            display: inline-block;
            &:hover {
                background: #B9DCFF;
            }
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border-top: 2px solid $color-main;
                border-right: 2px solid $color-main;
                position: absolute;
                top: 6px;
                right: 8px;
                transform: rotate(134deg);
                z-index: 1;
            }
        }
        &-toggle {
            font-size: 12px;
            padding: 14px 60px 15px 20px;
            line-height: 20px;
            cursor: pointer;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            &::after {
                content: none;
            }
            &[aria-expanded="true"] {
                .dropdown_icon {
                    &::before {
                        top: 10px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &-menu {
            width: 100%;
            border: 1px solid $color-border;
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-left: -1px;
            padding: 0;
            @media (max-width: 1265px) {
                margin-left: 4px;
            }
        }
        &-item {
            padding: 20px;
            border-bottom: 1px solid $color-border;
            font-size: 14px;
            &:last-child {
                border-bottom: 0;
            }
            &:hover {
                background-color: #E0E3E8;
            }
        }
    }
}