.modal {
    &-custom {
        .modal {
            &-dialog {
                @media (min-width: $size-l) {
                    max-width: 780px;
                }
                &.md {
                    @media (min-width: $size-l) {
                        max-width: 700px;
                    }
                }
                &.sm {
                    @media (min-width: $size-l) {
                        max-width: 650px;
                    }
                }
            }
            &-content {
                border-radius: 0;
                border: 1px solid $color-main;
                padding: 28px 30px;
            }
            &-header {
                border: 0;
                padding: 0;
                .close {
                    font-size: 24px;
                    font-size: 40px;
                    padding: 0;
                    margin: -10px 0 0;
                    &:focus {
                        outline: none;
                    }
                }
            }
            &-body {
                &_title {
                    padding: 15px 30px 10px;
                    border: 1px solid $color-border;
                    border-bottom: 0;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    margin-bottom: -1px;
                    position: relative;
                    z-index: 1;
                    background: #fff;
                }
                &_content {
                    padding: 30px;
                    border: 1px solid $color-border;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    .table-responsive {
                        max-height: calc(100vh - 400px);
                        overflow-y: auto;
                    }
                }
                .form-control {
                    padding-left: 10px !important;
                    width: calc(100% - 170px);
                }
                .form-custom_search {
                    .btn-custom {
                        width: 170px;
                    }
                }
                .form-custom-modal {
                    .form-custom_select {
                        .filter-option-inner-inner {
                            color: #B1B4B9;
                            font-size: 14px;
                        }
                        .dropdown-toggle {
                            padding-left: 18px;
                        }
                    }
                    .form-control {
                        padding: 0 18px !important;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                    textarea {
                        max-height: 150px;
                        overflow-y: auto;
                    }
                }
            }
        }
        &_item {
            border-bottom: 1px solid $color-border;
            padding: 20px 0 10px;
            font-size: 16px;
            &_title {
                min-width: 100px;
            }
            &_inner {
                border: 1px solid $color-border;
                padding: 25px;
                border-radius: 5px;
                max-height: 400px;
                overflow: auto;
            }
        }
        &_border {
            border: 1px solid $color-border;
            border-radius: 5px;
        }
        &_icon {
            font-size: 60px;
        }
    }
}

.delete.modal-confirm {
    width: 400px;
}
.delete.modal-confirm .modal-content {
    top: 120px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}
.delete.modal-confirm .modal-footer {
    border-top: none;
}

#sendAddress {
    #editorMess,
    #cke_1_bottom,
    #cke_1_top,
    .cke_top,
    .cke_bottom {
        display: none !important;
    }
    #cke_editorMess {
        border: 1px solid #B0B4B9 !important;
        border-radius: 5px !important;
    }
    .cke_inner, #cke_1_contents, .cke_reset {
        border-radius: 5px !important;
    }
    #cke_editorMess.error-border {
        border: 1px solid #DE6B6D !important;
    }
}
