$color-main: #226DCB;
$color-black: #333333;
$color-white: #FFFFFF;
$color-red: #DF6B6D;
$color-gray: #DFE3E8;
$color-yellow: #F79700;
$color-light-blue: #ECF2F8;
$color-border: #B0B4B9;
$color-bg: #EFF1F3;

//size
$size-s: 576px;
$size-m: 768px;
$size-l: 992px;
$size-xl: 1240px;


