@font-face {
  font-family: hira-w3;
  src: url(/fonts/hiragino-kaku-W3.otf?7b00df51e61be93d049da915bd1befd5) format("opentype");
}

@font-face {
  font-family: hira-w6;
  src: url(/fonts/hiragino-kaku-W6.otf?7a91d1738f74cfdc675c06a8a5847ac2) format("opentype");
}

body {
  font-size: 14px !important;
  font-family: hira-w3 !important;
  color: #333333 !important;
}

.container-custom {
  padding: 0 20px;
  margin: auto;
  width: 100%;
}

@media (min-width: 1240px) {
  .container-custom {
    max-width: 1240px;
  }
}

.color-red {
  color: #DF6B6D !important;
}

.color-green {
  color: #87C87F !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.font-family-w3 {
  font-family: hira-w3 !important;
}

.font-family-w6 {
  font-family: hira-w6 !important;
}

.row-custom {
  margin-right: -5px !important;
  margin-left: -5px !important;
}

.col-custom {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.title-large {
  font-size: 20px;
  font-family: hira-w6;
}

.title-medium {
  font-size: 18px !important;
  font-family: hira-w3;
}

.title .main_icon {
  font-size: 18px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden !important;
}

.btn-custom {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: hira-w6;
  text-align: center;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-custom.md {
  min-width: 200px;
}

.btn-custom-primary {
  border: 1px solid #226DCB;
  background-color: #226DCB !important;
  color: #fff !important;
}

.btn-custom-primary:hover {
  border: 1px solid #5E9AE5;
  background-color: #5E9AE5 !important;
  color: #fff !important;
}

.btn-custom-primary:active,
.btn-custom-primary:focus {
  outline: 0;
  border: 1px solid #19549F;
  background-color: #19549F !important;
  color: #fff !important;
}

.btn-custom-warning {
  border: 1px solid #F79700;
  background-color: #F79700 !important;
  color: #fff !important;
}

.btn-custom-warning:hover {
  border: 1px solid #F8BB5B;
  background-color: #F8BB5B !important;
  color: #fff !important;
}

.btn-custom-warning:active,
.btn-custom-warning:focus {
  outline: 0;
  border: 1px solid #C47700;
  background-color: #C47700 !important;
  color: #fff !important;
}

.btn-custom-danger {
  border: 1px solid #DF6B6D;
  background-color: #DF6B6D !important;
  color: #fff !important;
}

.btn-custom-danger:hover {
  border: 1px solid #de7d7f;
  background-color: #de7d7f !important;
  color: #fff !important;
}

.btn-custom-danger:active,
.btn-custom-danger:focus {
  outline: 0;
  border: 1px solid #d25b5d;
  background-color: #d25b5d !important;
  color: #fff !important;
}

.btn-custom-outlined {
  font-size: 14px;
  font-family: hira-w3;
  font-weight: 500;
  border: 1px solid #226DCB;
  background-color: #fff !important;
  color: #226DCB !important;
}

.btn-custom-outlined:hover {
  border: 1px solid #226DCB;
  background-color: #B9DCFF !important;
  color: #346EC5 !important;
}

.btn-custom-outlined:active,
.btn-custom-outlined:focus {
  outline: 0;
  border: 1px solid #226DCB;
  background-color: #B3C9E8 !important;
  color: #346EC5 !important;
}

.btn-custom-disabled {
  border: 1px solid #B1B4B9;
  background-color: #B1B4B9 !important;
  color: #fff !important;
}

.btn-custom-disabled:hover {
  border: 1px solid #CCCFD5;
  background-color: #CCCFD5 !important;
  color: #fff !important;
}

.btn-custom-disabled:active,
.btn-custom-disabled:focus {
  outline: 0;
  border: 1px solid #8E9196;
  background-color: #8E9196 !important;
  color: #fff !important;
}

.btn-custom-large {
  font-size: 18px !important;
  padding: 8px 15px;
}

.btn-custom-large .main_icon {
  font-size: 18px;
}

.btn-custom-medium {
  font-size: 17px !important;
  padding: 9px 15px;
}

.icon-drag {
  width: 22px;
  height: 10px;
  position: relative;
  display: table;
  cursor: pointer;
  margin: -10px auto 10px;
}

.icon-drag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 4px 0 #B0B4B9, 0 12px 0 #B0B4B9, 0 20px 0 #B0B4B9;
  transform: rotate(-90deg);
}

.icon-drag::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 4px 0 #B0B4B9, 0 12px 0 #B0B4B9, 0 20px 0 #B0B4B9;
  transform: rotate(-90deg);
}

.card-custom {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 30px;
  background-color: #FFFFFF;
}

.card-custom-w {
  width: calc(100% - 70px);
}

.card-custom_footer {
  padding-top: 20px;
  border-top: 1px solid #B0B4B9;
}

.card-custom_footer label {
  font-size: 16px;
  color: #707171;
}

.card-custom_action {
  order: 2;
  margin-left: 20px;
  width: 50px;
  height: 100%;
  border: 1px solid #B0B4B9;
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.card-custom_action .btn-custom {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 0;
  width: 100%;
  color: #333333;
}

.card-custom_action .btn-custom:first-child {
  border-bottom: 1px solid #B0B4B9;
}

.card-custom_action .btn-custom i {
  font-size: 20px;
}

.card-custom_action .btn-custom:hover {
  opacity: 0.75;
}

.card-custom_action .btn-custom:focus {
  outline: none;
}

.card-custom_list {
  list-style: none;
  counter-reset: number;
  padding-left: 30px;
}

.card-custom_list li {
  counter-increment: number;
  position: relative;
}

.card-custom_list li::before {
  content: counter(number) ". ";
  position: absolute;
  top: 12px;
  left: -28px;
  font-size: 16px;
}

.card-custom .form-check:last-child {
  margin-bottom: 0 !important;
}

.card-auth {
  padding: 30px;
  width: 100%;
}

@media (min-width: 576px) {
  .card-auth {
    width: 410px;
    padding: 50px;
    margin: auto;
    position: fixed;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 576px) {
  .card-auth.large {
    width: 530px;
    padding: 50px;
  }
}

.card-auth_title {
  font-size: 24px;
  font-family: hira-w6;
  margin-bottom: 42px;
}

.card-auth_link {
  color: #226DCB;
  text-decoration: underline;
  margin: 3px 0 28px;
  display: inline-block;
}

.card-auth_link:hover {
  opacity: 0.8;
}

.card-auth .form-custom .form-group {
  margin-bottom: 22px;
}

.card-auth .form-custom .form-control::-moz-placeholder {
  font-size: 12px;
}

.card-auth .form-custom .form-control:-ms-input-placeholder {
  font-size: 12px;
}

.card-auth .form-custom .form-control::placeholder {
  font-size: 12px;
}

@media (min-width: 576px) {
  .card-contact {
    padding: 60px;
    width: 495px;
  }
}

.card-contact_block {
  border-radius: 5px;
  border: 2px solid #B0B4B9;
  height: 56px;
  text-align: center;
  display: block;
  text-align: center;
  line-height: 56px;
  font-size: 23px;
  color: #226DCB;
  font-family: hira-w6;
  margin-bottom: 20px;
}

.card-contact_block i {
  font-size: 20px;
}

.card-contact_time {
  font-family: hira-w6;
  font-size: 18px;
  margin-bottom: 30px;
}

.card-table .table tr td,
.card-table .table tr th {
  border-color: #B0B4B9;
  padding: 20px;
  min-width: 150px;
}

.card-table .table tr th {
  border-bottom-width: 1px;
  background-color: #DFE3E8;
  font-family: hira-w6;
  padding: 12px 20px;
  vertical-align: middle;
}

@media (min-width: 1240px) {
  .card-table .table tr th {
    min-width: 290px;
    width: 290px;
  }
}

.card-table .table tr.card-table_bg td {
  background-color: #DFE3E8;
  padding: 12px 20px;
}

.card-table_label {
  border-radius: 999px;
  font-size: 10px;
  padding: 1px 8px;
  color: #FFFFFF;
  background-color: #DF6B6D;
}

.card-table .form-control::-moz-placeholder {
  font-size: 14px !important;
}

.card-table .form-control:-ms-input-placeholder {
  font-size: 14px !important;
}

.card-table .form-control::placeholder {
  font-size: 14px !important;
}

.main {
  min-height: calc(100vh - 142px);
}

.main-bg {
  background-color: #EFF1F3;
}

.main-auth {
  min-height: calc(100vh - 72px);
}

.main_link {
  color: #226DCB;
  text-decoration: underline;
}

.main_content {
  padding: 48px 40px;
}

.main_icon {
  color: #226DCB;
  font-size: 16px;
  margin-right: 6px;
}

.main_icon.large {
  font-size: 22px;
}

.main_switch {
  width: 70px;
  height: 26px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.main_switch::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #B0B4B9;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.main_switch::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #B0B4B9;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: translateX(0);
  transition: transform 0.3s;
}

.main_switch:checked::before {
  background-color: #226DCB;
  border-color: #226DCB;
}

.main_switch:checked::after {
  border-color: #FFFFFF;
  transform: translateX(44px);
}

.main_table .pagination .page-link {
  background-color: transparent;
  border-color: transparent;
  color: #333333;
  padding: 0 7px;
}

.main_table .pagination .page-item:first-child .page-link,
.main_table .pagination .page-item:last-child .page-link {
  font-size: 0;
  position: relative;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.main_table .pagination .page-item:first-child .page-link::before,
.main_table .pagination .page-item:last-child .page-link::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  position: absolute;
  top: 4px;
  right: 1px;
  transform: rotate(-134deg);
}

.main_table .pagination .page-item:last-child .page-link::before {
  transform: rotate(45deg);
}

.main_table .pagination .page-item.active .page-link {
  background-color: transparent;
  border-color: transparent;
  color: #226DCB;
  font-family: hira-w6;
}

.main_table .pagination .page-item.disabled .page-link {
  background-color: transparent;
  border-color: transparent;
}

.main_table .pagination .page-item.disabled .page-link::before {
  content: "";
  border-top: 1px solid #B0B4B9;
  border-right: 1px solid #B0B4B9;
}

.main_table .table thead th,
.main_table .table tr td {
  border-color: #B0B4B9;
  min-width: 150px;
  padding: 12px;
  vertical-align: middle;
}

.main_table .table thead th.large,
.main_table .table tr td.large {
  min-width: 300px;
}

.main_table .table thead th.text-overflow,
.main_table .table tr td.text-overflow {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main_table .table thead th {
  border-bottom-width: 1px;
  background-color: #DFE3E8;
  font-family: hira-w6;
  border-top: 0;
}

.main_table .table thead th:first-child {
  border-left: 0;
}

.main_table .table thead th:last-child {
  border-right: 0;
}

.main_table .table tr:nth-child(odd) td {
  background-color: #FFFFFF;
}

.main_table .table tr:nth-child(odd) td .main_table_action {
  background-color: #FFFFFF;
}

.main_table .table tr:nth-child(even) td {
  background-color: #ECF2F8;
}

.main_table .table tr:nth-child(even) td .main_table_action {
  background-color: #ECF2F8;
}

.main_table .table tr td:first-child {
  border-left: 0;
}

.main_table .table tr td:last-child {
  border-right: 0;
}

.main_table .table tr:last-child td {
  border-bottom: 0;
}

.main_table .table-responsive {
  border: 1px solid #B0B4B9;
}

.main_table .table-custom .main_table_action:nth-child(2) {
  left: 100px;
}

.main_table .table-custom .main_table_action:nth-child(3) {
  left: 170px;
}

.main_table .table-custom-3 .main_table_action:nth-child(2) {
  left: 70px;
}

.main_table .table-custom-3 .main_table_action:nth-child(3) {
  left: 140px;
}

.main_table .table-custom-responsive .table-bordered {
  border: 1px solid #B0B4B9;
}

.main_table .table-custom-responsive thead {
  display: block;
  position: relative;
}

.main_table .table-custom-responsive thead tr th {
  width: 20%;
}

.main_table .table-custom-responsive thead tr th:first-child {
  width: 40%;
}

@media (max-width: 992px) {
  .main_table .table-custom-responsive thead tr th {
    min-width: auto;
  }
}

.main_table .table-custom-responsive tbody {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  display: block;
}

.main_table .table-custom-responsive tbody tr td {
  width: 20%;
}

.main_table .table-custom-responsive tbody tr td:first-child {
  width: 40%;
}

@media (max-width: 992px) {
  .main_table .table-custom-responsive tbody tr td {
    min-width: auto;
  }
}

.main_table .table-custom-responsive tbody tr:first-child td {
  border-top: 0;
}

.main_table_action {
  width: 70px;
  min-width: 70px !important;
  position: sticky;
  left: 0;
  background-color: #DFE3E8;
  z-index: 10;
}

.main_table_action.large {
  min-width: 100px !important;
}

.main_table_action::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  background-color: #B0B4B9;
}

.main_table_action:nth-child(2) {
  left: 70px;
}

.main_table_action .btn-custom {
  margin: auto;
  font-size: 12px;
  padding: 4px 15px;
  font-family: hira-w3;
}

.main_card .icon-drag {
  position: absolute;
  top: 30px;
  left: calc(50% - 11px);
}

.main_card_btn {
  width: 100%;
  color: #333333;
  text-align: left;
  border: 0;
  background-color: transparent;
}

.main_card_btn:focus {
  outline: none;
}

.main_card .main_card_btn.first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 46px;
}

.main_card .main_card_btn.last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main .box-items-answer {
  position: relative;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #226DCB;
  margin: 0 6px;
  transform: scale(1);
}

.dot1 {
  -webkit-animation: line-grow 0.5s ease alternate infinite;
          animation: line-grow 0.5s ease alternate infinite;
}

.dot2 {
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
          animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.dot3 {
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
          animation: line-grow 0.5s 0.4s ease alternate infinite;
}

@-webkit-keyframes line-grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes line-grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.scroll-cus {
  position: relative;
  border-right: 0 !important;
}

.scroll-cus::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #226DCB;
  position: absolute;
  bottom: 0;
  right: 0;
}

.scroll-cus thead {
  border-right: 1px solid #B0B4B9;
}

.scroll-cus thead::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #226DCB;
  position: absolute;
  bottom: 0;
  right: -1px;
}

@media (min-width: 992px) {
  .scroll-cus thead tr th:last-child {
    min-width: 166.5px;
  }
}

.scroll-cus tbody {
  border-right: 1px solid #226DCB;
}

.scroll-cus tbody tr td:last-child {
  border-right: 1px solid #226DCB !important;
}

.box-body-radio .icon-drag.move-drag-answer,
.box-body-checkbox .icon-drag.move-drag-answer {
  left: 10px;
  top: calc(50% - 19px);
  width: 18px;
  height: 24px;
  margin: 0;
}

.form-answers .icon-drag.move-drag-answer:before {
  top: 0;
  left: 0;
  transform: none;
}

.form-answers .icon-drag.move-drag-answer:after {
  top: 0;
  left: 6px;
  transform: none;
}

.text-answer-error {
  left: 49%;
  position: absolute;
  top: 12px;
}

#box-form-preview,
a#back-create {
  display: none;
}

.bootstrap-select.border-error .dropdown-toggle {
  border-color: #DE6B6D !important;
}

.style-scroll::-webkit-scrollbar-track {
  background-color: #fff;
  border: 3px solid #fff;
}

.style-scroll::-webkit-scrollbar {
  width: 16px;
  background-color: #fff;
}

.style-scroll::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border: 3px solid #fff;
}

button.download-csv a {
  color: #226DCB !important;
}

.style-scroll tbody::-webkit-scrollbar-track {
  background-color: #fff;
  border: 3px solid #fff;
}

.style-scroll tbody::-webkit-scrollbar {
  width: 16px;
  background-color: #fff;
}

.style-scroll tbody::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border: 3px solid #fff;
}

.name-file_csv {
  text-decoration: underline;
}

.show-preview_csv {
  margin: 0 10px 0 20px;
  font: normal normal normal 14px/24px Hiragino Kaku Gothic ProN;
  color: #333333;
  font-weight: 600;
}

.copy-form-question {
  border: 1px solid #346EC5;
}

.delete-form-question {
  border: 1px solid #2F75CE;
}

.copy-form-question .main_icon {
  color: #346EC5 !important;
}

.delete-form-question .main_icon {
  color: #2F75CE !important;
}

.main_switch:checked::before {
  background-color: #226DCC;
}

a.disable {
  pointer-events: none;
  cursor: default;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 3px 6px #00000029;
}

.header_content {
  background-color: #226DCB;
  height: 72px;
  line-height: 72px;
}

.header-admin {
  box-shadow: none;
}

.header-admin .nav {
  border-bottom: 1px solid #B0B4B9;
}

.nav {
  background-color: #FFFFFF;
}

.nav_list {
  margin: 0;
  padding: 0;
}

.nav_item {
  list-style: none;
}

.nav_link {
  padding: 22px 20px 26px 20px;
  display: inline-block;
  border-right: 1px solid #B0B4B9;
  color: #333333;
  font-size: 14px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.nav_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}

.nav_link:hover {
  text-decoration: none;
  background-color: #E0E3E8;
  color: #333333;
}

.nav_link:hover::before {
  content: "";
  background-color: #E0E3E8;
}

.nav_link.active {
  font-weight: 600;
}

.nav_link.active::before {
  content: "";
  background-color: #226DCB;
}

.nav .dropdown {
  margin-left: 30px;
  border-left: 1px solid #B0B4B9;
  width: 285px;
  height: 69px;
  display: table;
}

.nav .dropdown_icon {
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  right: 5px;
  border: 0;
  display: inline-block;
}

.nav .dropdown_icon:hover {
  background: #B9DCFF;
}

.nav .dropdown_icon::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #226DCB;
  border-right: 2px solid #226DCB;
  position: absolute;
  top: 6px;
  right: 8px;
  transform: rotate(134deg);
  z-index: 1;
}

.nav .dropdown-toggle {
  font-size: 12px;
  padding: 14px 60px 15px 20px;
  line-height: 20px;
  cursor: pointer;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.nav .dropdown-toggle::after {
  content: none;
}

.nav .dropdown-toggle[aria-expanded=true] .dropdown_icon::before {
  top: 10px;
  transform: rotate(-45deg);
}

.nav .dropdown-menu {
  width: 100%;
  border: 1px solid #B0B4B9;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: -1px;
  padding: 0;
}

@media (max-width: 1265px) {
  .nav .dropdown-menu {
    margin-left: 4px;
  }
}

.nav .dropdown-item {
  padding: 20px;
  border-bottom: 1px solid #B0B4B9;
  font-size: 14px;
}

.nav .dropdown-item:last-child {
  border-bottom: 0;
}

.nav .dropdown-item:hover {
  background-color: #E0E3E8;
}

.form-custom .form-control {
  border: 1px solid #B0B4B9;
  border-radius: 5px;
  line-height: 45px;
  padding: 0 10px !important;
  color: #333333 !important;
  font-size: 14px;
}

.form-custom .form-control::-moz-placeholder {
  font-size: 16px;
  color: #B0B4B9;
}

.form-custom .form-control:-ms-input-placeholder {
  font-size: 16px;
  color: #B0B4B9;
}

.form-custom .form-control::placeholder {
  font-size: 16px;
  color: #B0B4B9;
}

.form-custom .form-control:focus {
  box-shadow: none;
  border-color: #226DCB !important;
}

.form-custom .form-control:focus::-moz-placeholder {
  color: #fff;
}

.form-custom .form-control:focus:-ms-input-placeholder {
  color: #fff;
}

.form-custom .form-control:focus::placeholder {
  color: #fff;
}

.form-custom .form-control:focus ~ i {
  color: #226DCB;
}

.form-custom .form-control.large {
  height: 55px !important;
  line-height: 55px;
  font-size: 18px;
}

.form-custom .form-control.large::-moz-placeholder {
  font-size: 18px;
}

.form-custom .form-control.large:-ms-input-placeholder {
  font-size: 18px;
}

.form-custom .form-control.large::placeholder {
  font-size: 18px;
}

.form-custom .form-control.pl-small::-moz-placeholder {
  font-size: 12px;
}

.form-custom .form-control.pl-small:-ms-input-placeholder {
  font-size: 12px;
}

.form-custom .form-control.pl-small::placeholder {
  font-size: 12px;
}

.form-custom .form-control[type=password] {
  font: message-box;
  font-size: 22px;
  line-height: 45px;
}

.form-custom .form-group {
  margin-bottom: 18px;
  position: relative;
}

.form-custom .form-text {
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0;
  margin: 0;
}

.form-custom .form-check-input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-custom .form-check-input[type=checkbox]::before {
  border-radius: 3px;
}

.form-custom .form-check-input[type=checkbox]::after {
  width: 10px;
  height: 5px;
  border-top: 2px solid #226DCB;
  border-right: 2px solid #226DCB;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(134deg);
}

.form-custom .form-check-input[type=radio]::after {
  width: 10px;
  height: 10px;
  background-color: #226DCB;
  border-radius: 999px;
  position: absolute;
  top: 5px;
  left: 3px;
}

.form-custom .form-check-input::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 999px;
  border: 1px solid #B0B4B9;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #FFFFFF;
}

.form-custom .form-check-input:checked::after {
  content: "";
}

.form-custom .form-check-input.large::before {
  content: "";
  width: 20px;
  height: 20px;
  top: -15px;
}

.form-custom .form-check-input.large::after {
  width: 14px;
  height: 14px;
  top: -12px;
  left: 3px;
}

.form-custom .form-check-input.large[type=checkbox]::after {
  width: 12px;
  height: 7px;
  top: -10px;
  left: 4px;
}

.form-custom .form-check-label {
  padding-left: 25px;
  font-size: 16px;
}

.form-custom textarea.form-control {
  line-height: 32px;
  height: 81px;
}

.form-custom_search .form-control {
  width: calc(100% - 220px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 28px !important;
}

.form-custom_search .btn-custom {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 220px;
  text-align: center;
}

.form-custom_search .fa-search {
  position: absolute;
  top: 16px;
  left: 10px;
  color: #B1B4B9;
}

.form-custom_date {
  width: 140px !important;
  position: relative;
  padding-right: 35px;
  border-radius: 5px !important;
  border: 1px solid #B0B4B9;
}

.form-custom_date .form-control {
  border: 0 !important;
  border-radius: 5px !important;
  padding-right: 0 !important;
}

.form-custom_date .bootstrap-datetimepicker-widget {
  padding: 5px 20px 20px !important;
  width: 300px !important;
  border-radius: 5px;
  border: 1px solid #B0B4B9;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child {
  font-size: 18px;
  font-family: hira-w6;
  border-bottom: 1px solid #B0B4B9;
  position: relative;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th {
  padding: 10px;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th:hover {
  background-color: transparent;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.prev,
.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.next {
  position: relative;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.prev:hover::after,
.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.next:hover::after {
  background-color: #DFE3E8;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.prev::before,
.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.next::before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #B0B4B9;
  border-right: 1px solid #B0B4B9;
  position: absolute;
  top: 17px;
  right: 11px;
  transform: rotate(-134deg);
  z-index: 1;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.prev::after,
.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.next::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #B0B4B9;
  position: absolute;
  top: calc(50% - 12px);
  left: 10px;
  clip: auto;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.next::before {
  right: 23px;
  transform: rotate(45deg);
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed thead tr:first-child th.next::after {
  left: 0;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed tr th.dow {
  padding: 20px 10px 10px;
  font-size: 13px;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed tr td {
  padding: 8px;
  font-size: 12px !important;
  border: 1px solid #B0B4B9;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed tr td.active {
  background-color: #B9DCFF;
  color: #333333;
  border-radius: 0;
  text-shadow: none;
}

.form-custom_date .bootstrap-datetimepicker-widget .table-condensed tr td.active::before {
  content: none;
}

.form-custom_date .input-group-addon {
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  width: 24px;
  height: 24px;
}

.form-custom_date .input-group-addon:hover {
  background: #B9DCFF;
}

.form-custom_date .input-group-addon::before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #226DCB;
  border-right: 2px solid #226DCB;
  position: absolute;
  top: 6px;
  right: 8px;
  transform: rotate(134deg);
  border-left: 0;
  z-index: 1;
  cursor: pointer;
}

.form-custom_dropdown {
  position: relative;
  padding-right: 25px;
}

.form-custom_dropdown::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #226DCB;
  border-right: 2px solid #226DCB;
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  transform: rotate(134deg);
}

.form-custom .icon {
  font-size: 26px;
  padding: 0 8px;
  color: #5b5b5c;
}

.form-custom_select.multi .bootstrap-select {
  width: 220px !important;
}

.form-custom_select.multi .bootstrap-select .dropdown-toggle {
  font-size: 14px;
}

.form-custom_select.multi .bootstrap-select .dropdown-item {
  padding: 5px 15px 5px 42px !important;
  font-size: 14px;
}

.form-custom_select.multi .bootstrap-select .dropdown-item::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #B0B4B9;
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 15px;
}

.form-custom_select.multi.sm .bootstrap-select {
  width: 100% !important;
}

.form-custom_select .bootstrap-select {
  width: 100% !important;
}

.form-custom_select .bootstrap-select.show > .btn-light.dropdown-toggle,
.form-custom_select .bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.form-custom_select .bootstrap-select .btn-light:not(:disabled):not(.disabled):active {
  background-color: transparent !important;
  border-color: #226DCB !important;
}

.form-custom_select .bootstrap-select.show > .btn-light.dropdown-toggle::after {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.form-custom_select .bootstrap-select .dropdown-toggle {
  background-color: transparent;
  border-color: #B0B4B9;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  border-radius: 5px;
  font-size: 16px;
}

.form-custom_select .bootstrap-select .dropdown-toggle:hover,
.form-custom_select .bootstrap-select .dropdown-toggle:active {
  background-color: transparent !important;
  border-color: #B0B4B9 !important;
}

.form-custom_select .bootstrap-select .dropdown-toggle:hover::before,
.form-custom_select .bootstrap-select .dropdown-toggle:active::before {
  content: "";
}

.form-custom_select .bootstrap-select .dropdown-toggle:focus {
  box-shadow: none;
  outline: 0 !important;
}

.form-custom_select .bootstrap-select .dropdown-toggle::before {
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  right: 10px;
  background: #B9DCFF;
}

.form-custom_select .bootstrap-select .dropdown-toggle::after {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #226DCB;
  border-right: 2px solid #226DCB;
  position: absolute;
  top: calc(50% - 5px);
  right: 19px;
  transform: rotate(134deg);
  border-left: 0;
  z-index: 1;
}

.form-custom_select .bootstrap-select .dropdown-item {
  padding: 5px 15px !important;
  font-size: 16px;
}

.form-custom_select .bootstrap-select .dropdown-item:hover,
.form-custom_select .bootstrap-select .dropdown-item:active,
.form-custom_select .bootstrap-select .dropdown-item:focus {
  background-color: #E0E3E8;
  color: #333333;
}

.form-custom_select .bootstrap-select .dropdown-item.active {
  background-color: transparent;
  color: #333333;
}

.form-custom_select .bootstrap-select .dropdown-item .check-mark {
  right: calc(100% - 28px) !important;
  top: 9px !important;
}

.form-custom_select .bootstrap-select .dropdown-item .check-mark::after {
  content: "";
  width: 7px;
  height: 12px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #226DCB;
}

.form-custom_select .bootstrap-select .dropdown-menu {
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #B0B4B9;
  padding: 5px 0;
}

.form-custom_select .bootstrap-select .dropdown-menu .dropdown-header {
  padding: 12px 15px 5px 15px;
  color: #333333;
}

.form-custom_select .bootstrap-select .dropdown-menu .dropdown-divider {
  margin-bottom: 0;
  border-top: 1px solid #B0B4B9;
}

.form-custom_select .bootstrap-select .bs-searchbox {
  padding: 0;
}

.form-custom_select .bootstrap-select .bs-searchbox .form-control {
  border: 0;
  padding: 10px 15px !important;
  border-bottom: 1px solid #B0B4B9;
  border-radius: 0;
}

.form-custom_select .bootstrap-select .bs-searchbox .form-control::-moz-placeholder {
  font-size: 14px;
}

.form-custom_select .bootstrap-select .bs-searchbox .form-control:-ms-input-placeholder {
  font-size: 14px;
}

.form-custom_select .bootstrap-select .bs-searchbox .form-control::placeholder {
  font-size: 14px;
}

.form-custom_select .bootstrap-select .bs-searchbox .form-control:focus {
  border-color: #B0B4B9 !important;
}

.form-custom_select .bootstrap-select .bs-actionsbox {
  padding: 10px 15px;
  border-bottom: 1px solid #B0B4B9;
}

.form-custom_select .bootstrap-select .bs-select-all,
.form-custom_select .bootstrap-select .bs-deselect-all {
  background-color: transparent;
  border: 0;
  min-width: auto;
  width: auto;
  padding: 0;
  padding-left: 27px;
  position: relative;
}

.form-custom_select .bootstrap-select .bs-select-all::before,
.form-custom_select .bootstrap-select .bs-deselect-all::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #B0B4B9;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.form-custom_select .bootstrap-select .bs-deselect-all {
  margin-left: 0 !important;
  display: none;
}

.form-custom_select .bootstrap-select .bs-deselect-all::after {
  content: "";
  width: 7px;
  height: 12px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #226DCB;
  position: absolute;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

.form-custom_select.sm .filter-option-inner-inner {
  font-size: 14px !important;
}

.form-custom_select.sm .dropdown-item {
  font-size: 14px;
}

.form-custom_select.sm .dropdown-menu {
  padding-bottom: 10px;
}

.form-custom_upload_content {
  border: 2px dashed #B0B4B9;
  position: relative;
  height: 260px;
  border-radius: 5px;
}

.form-custom_upload_content::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #fff;
  pointer-events: none;
  border-radius: 5px;
}

.form-custom_upload_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-custom_upload_label {
  background-color: #EFEFEF;
  border-radius: 4px;
  font-size: 12px;
  padding: 6px 12px;
}

.form-custom_upload_item {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 14px;
  color: #226DCB;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.form-custom_upload_item .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-left: 1px solid #B0B4B9;
  opacity: 1;
  z-index: 1;
}

.form-custom_upload_item .close::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #B1B4B9;
  position: absolute;
  top: 24px;
  left: 12px;
  transform: rotate(45deg);
}

.form-custom_upload_item .close::after {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #B1B4B9;
  position: absolute;
  top: 24px;
  right: 12px;
  transform: rotate(-45deg);
}

.form-custom_upload_list .form-custom_select .dropdown-toggle {
  background-color: #fff;
  font-family: "hira-w3";
}

.form-custom_upload_list .form-custom_select .dropdown-toggle:hover,
.form-custom_upload_list .form-custom_select .dropdown-toggle:active {
  background-color: #fff !important;
}

.form-custom_upload_list .form-custom_select .dropdown-item {
  font-family: "hira-w3";
}

.border-error.form-control {
  border: 1px solid #DE6B6D !important;
}

.text-error {
  font: normal normal normal 12px/20px Hiragino Kaku Gothic ProN;
  size: 12px;
  color: #DE6B6D;
}

.th-header .form-text {
  position: inherit !important;
  margin-top: -2px;
}

.border-error.form-check-input::before {
  border: 1px solid #DF6B6D !important;
}

@media (min-width: 992px) {
  .modal-custom .modal-dialog {
    max-width: 780px;
  }
}

@media (min-width: 992px) {
  .modal-custom .modal-dialog.md {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .modal-custom .modal-dialog.sm {
    max-width: 650px;
  }
}

.modal-custom .modal-content {
  border-radius: 0;
  border: 1px solid #226DCB;
  padding: 28px 30px;
}

.modal-custom .modal-header {
  border: 0;
  padding: 0;
}

.modal-custom .modal-header .close {
  font-size: 24px;
  font-size: 40px;
  padding: 0;
  margin: -10px 0 0;
}

.modal-custom .modal-header .close:focus {
  outline: none;
}

.modal-custom .modal-body_title {
  padding: 15px 30px 10px;
  border: 1px solid #B0B4B9;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
}

.modal-custom .modal-body_content {
  padding: 30px;
  border: 1px solid #B0B4B9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-custom .modal-body_content .table-responsive {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}

.modal-custom .modal-body .form-control {
  padding-left: 10px !important;
  width: calc(100% - 170px);
}

.modal-custom .modal-body .form-custom_search .btn-custom {
  width: 170px;
}

.modal-custom .modal-body .form-custom-modal .form-custom_select .filter-option-inner-inner {
  color: #B1B4B9;
  font-size: 14px;
}

.modal-custom .modal-body .form-custom-modal .form-custom_select .dropdown-toggle {
  padding-left: 18px;
}

.modal-custom .modal-body .form-custom-modal .form-control {
  padding: 0 18px !important;
}

.modal-custom .modal-body .form-custom-modal .form-control::-moz-placeholder {
  font-size: 14px;
}

.modal-custom .modal-body .form-custom-modal .form-control:-ms-input-placeholder {
  font-size: 14px;
}

.modal-custom .modal-body .form-custom-modal .form-control::placeholder {
  font-size: 14px;
}

.modal-custom .modal-body .form-custom-modal textarea {
  max-height: 150px;
  overflow-y: auto;
}

.modal-custom_item {
  border-bottom: 1px solid #B0B4B9;
  padding: 20px 0 10px;
  font-size: 16px;
}

.modal-custom_item_title {
  min-width: 100px;
}

.modal-custom_item_inner {
  border: 1px solid #B0B4B9;
  padding: 25px;
  border-radius: 5px;
  max-height: 400px;
  overflow: auto;
}

.modal-custom_border {
  border: 1px solid #B0B4B9;
  border-radius: 5px;
}

.modal-custom_icon {
  font-size: 60px;
}

.delete.modal-confirm {
  width: 400px;
}

.delete.modal-confirm .modal-content {
  top: 120px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.delete.modal-confirm .modal-footer {
  border-top: none;
}

#sendAddress #editorMess,
#sendAddress #cke_1_bottom,
#sendAddress #cke_1_top,
#sendAddress .cke_top,
#sendAddress .cke_bottom {
  display: none !important;
}

#sendAddress #cke_editorMess {
  border: 1px solid #B0B4B9 !important;
  border-radius: 5px !important;
}

#sendAddress .cke_inner,
#sendAddress #cke_1_contents,
#sendAddress .cke_reset {
  border-radius: 5px !important;
}

#sendAddress #cke_editorMess.error-border {
  border: 1px solid #DE6B6D !important;
}

