.loadingspinnerbackdop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.25);
}

.loadingspinner {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loader {
    /* border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db; */
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.form-custom_upload_item {
    text-decoration: none;
}

.title-survey.text-overflow {
    max-width: 200px !important;
}

.form-custom_search .input-search, .input-question, .input-answer, .description-survey {
    font-size: 16px !important;
}

.form-custom textarea.description-survey {
    line-height: 32px;
    height: 109px;
}

@media (min-width: 576px) {
    .card-auth {
        top: calc(50% - 10px);
    }
}

.option-select-survey.text-overflow{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.option-select-statistic.text-overflow{
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.survey-success .alert-success {
    position: relative;
    padding: .9375rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .1875rem;
    border-color: #5ab55e;
}

.survey-error .alert-danger {
    position: relative;
    padding: .9375rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .1875rem;
    border-color: #f55246;
}

.select-pulldown a.dropdown-item span {
    white-space: pre-wrap;
    display: -webkit-box;
}

.box-input-check .input-check {
    margin: auto 0;
}

.box-input-check label.form-check-label {
    padding-left: 5px;
}

.main_table .table-detail tr:nth-child(even) td {
    background-color: #FFFFFF;
}

.main_table .table-essay thead th, .main_table .table-essay tr td{
    padding: 12px 30px 12px 30px;
}

.border_less::after{
    content: none;
}

table.table-preview_csv tr td:first-child {
    min-width: 120px !important;
    position: sticky;
    z-index: 10;
    left: 0;
}

table.table-preview_csv tr td:first-child::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1px;
    background-color: #B0B4B9;
}

.box-table_customer.form-custom .form-check-input[type=checkbox]::after {
    border-top: 2px solid #2F75CE;
    border-right: 2px solid #2F75CE;
}

.box-table_customer.form-custom .form-check-input.large::before {
    border-color: #B1B4B9;
}

a.disable.add-modal_send {
    background-color: #B1B4B9 !important;
    border: 1px solid #B1B4B9;
}

a.disable .main_icon {
    color: #B1B4B9 !important;
}

.break-word{
    word-break: break-word;
}

.icon-drag.move-drag-answer.drag-first {
    display: none;
}

.box-items-answer .close {
    position: absolute;
    top: 9px;
    left: 45%;
    width: 30px;
    height: 30px;
    border: 1px solid #B0B4B9;
    opacity: 1;
    z-index: 1;
}

.box-items-answer .close::before {
    content: "";
    width: 19px;
    height: 2px;
    background-color: #B1B4B9;
    position: absolute;
    top: 13px;
    left: 4px;
    transform: rotate(
        45deg
    );
}

.box-items-answer .close::after {
    content: "";
    width: 19px;
    height: 2px;
    background-color: #B1B4B9;
    position: absolute;
    top: 13px;
    right: 5px;
    transform: rotate(
        -45deg
    );
}

.box-items-answer .col-answer {
    line-height: 45px;
}

.form-custom_upload_content.error-file_csv {
    border: 2px dashed #DE6B6D;
}

.error-icon {
    font-size: 100px;
}

.table-preview_csv div.inner.show {
    max-height: 140px !important;
    left: -15px !important;
    top: 0;
}

p.company-name_header {
    margin-bottom: 0;
}
